*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: lightblue;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    height: 310px;

    margin: auto;
    background: white;
    border: 5px solid black;
}

.box {
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
}

.start {
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.snake {
    background: orangered;
}

.apple {
    background: greenyellow;
}